* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container
nav {
    background: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    box-shadow: 2px 3px 2px #f1f1f1;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1100px;
    margin: 2rem auto -6rem;
    margin-top: 50px;
}

.page h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.icon{
    text-decoration: none;
    font-weight: 500;
    font-size: 200;
    padding-left: 20px;
}

ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar{
    margin-left: 2rem;
}

.nav-link{
    font-weight: bold;
}

.navbar-link{
    text-decoration: none;
    padding-right: 20px;
}

ul li{
    list-style: none;
    font-weight: bold;
}

.form-box {
    display: flex;
    width: 100%;
    padding: 10px;
    justify-content: center;
}

.form-box h2 {
    text-align: center;
    padding: 10px;
}

.barang{
    width: 500px;
    padding: 20px 50px;
    border: 1px solid;
    border-radius: 10px;
    box-shadow: 0 1px 1px;
}

.form-input{
    display: flex;
    justify-content: center;
    padding: 10px;
    border-radius: 5px;
    width: 100%;
}

.h2-barang{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}

.btn-simpan {
    margin: 0px 0 10px 0px;
    padding: 10px;
    font-size: 15px;
    border-radius: 5px;
    color: #fff;
    background-color: #04AA6D;
}

.data{
    width: 200px;
    height: 200px;
    padding: 10px;
    margin: 10px;
    background-color: green;
}

.judul{
    width: 100%;
    text-align: center;
    padding-bottom: 30px;

}
.table{
    border-collapse: collapse;
    width: 70%;
    margin: 0 auto;
}

.table, th, td{
    padding: 10px 0px 10px;
    border: 1px solid black;
}

.th, td{
    text-align: center;
    margin-left: 50px;
}

th{
    background-color: #323C50;
    color: white;
}

.btn-edit, .btn-hapus {
    padding: 10px 15px;

}

.btn-edit {
    color: white;
    background-color: #04AA6D;
}

.btn-hapus {
    color: white;
    background-color: #f44336;
}

/* Responsivitas minimal dan maksimal */
@media (max-width: 800px) {
    .form-box {
        width: 100%;
        height: auto;
        flex-direction: column;
        padding: 20px; /* Tambahkan padding untuk ruang antar elemen */
    }
    
    .form-input {
        width: 100%; /* Atur lebar input menjadi 100% */
        padding: 10px;
        border-radius: 5px;
    }
    
    .table {
        width: 100%;
        overflow-x: auto;
    }
}
